/* Reseting default browser spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --palette-1: #ddbeaf; /* Muddy Rose */
  --palette-2: #cfceb8; /* Tropical Fog */
  --palette-3: #c3dde5; /* Breezy */
  --palette-4: #f3f0e9; /* Cotton Field */
  --palette-5: #b7c7d6; /* Plein Air */
  --palette-5_2: #77acde;

  --text-strong: #24313a;
  --text-base: #3d4b53;
  --text-soft: #66737b;
  --text-subtle: #7f8b91;
  --text-on-light: #1f2a30;
  --text-off-white: #faf9f6;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 4rem;

  --bradius-1: 25px;
  --border-1: 2px solid var(--text-strong);
  --border-2: 2px solid var(--palette-3);
  --border-3: 2px solid var(--palette-5);
  --border-3: 2px solid var(--palette-1);

  --text-1: 1.2rem;
}

body {
  background: var(--palette-4);
  color: var(--text-on-light);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar styling */
.navbar {
  width: 100%;
  padding: var(--space-4) var(--space-7);

  display: flex;
  align-items: center;
  gap: var(--space-5);
  position: relative;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}

.nav-links ul {
  display: flex;
  gap: var(--space-4);

  font-weight: 600;
  font-size: var(--space-4);
  list-style: none;
}

.navlink a {
  text-decoration: none;
  color: var(--text-on-light);
  transition: color 0.3s ease;
}

.navlink a:hover {
  color: var(--palette-5_2);
}

.nav-btns {
  margin-left: auto; /* to separate the buttons away from the page links */
  display: flex;
  gap: var(--space-4);
}

.btn {
  font-size: var(--space-4);
  padding: var(--space-1) var(--space-4);
  border-radius: var(--bradius-1);
  cursor: pointer;
  position: relative;
}

.sign-in {
  border: var(--border-1);
  background-color: var(--palette-4);
}

.join {
  border: var(--border-1);
  background-color: var(--text-on-light);
  color: var(--palette-4);
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease;
}

.join:hover {
  background-color: var(--palette-5);
  color: var(--text-on-light);
}

/* subtle line animation for hover on CTA buttons in hover */
.join::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: -0.75rem;
  width: 85%;
  height: 2px;
  background-color: var(--palette-1);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.join:hover:after {
  transform: scaleX(1);
}

.sign-in::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: -0.75rem;
  width: 85%;
  height: 2px;
  background-color: var(--palette-5);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.sign-in:hover:after {
  transform: scaleX(1);
}

/* section general styling */
section {
  margin: 0 7.5% 2rem 7.5%;
  border-radius: 15px; /* some soft rounded corners for a friendly and cozy feeling less coprorate */
}

/* banner */
.banner {
  background-color: var(--palette-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);

  padding: var(--space-6);
  border-radius: 0 0 15px 15px;
}

.banner h1 {
  font-size: var(--text-1);
  font-weight: 600;
}

.banner-btn {
  background-color: var(--palette-3);
  font-weight: 600;
  border: 2.2px solid var(--text-on-light);
  transition: background-color 0.3s ease;
}

.banner-btn:hover {
  background-color: var(--palette-5);
}

.hero-section {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;

  background-color: #f2e9e4; /* offwhite to match  hero the img  */
}

.hero-img {
  height: 100%;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.7s ease;
}

.hero-section:hover .hero-img img {
  transform: scale(1.05); /* subtle animation to make the page interactive */
}

.hero-txt {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-6);
  text-align: center;
  

  padding: 0 var(--space-6);
}

.hero-cta {
  width: fit-content;
  align-self: center;
  background-color: #f2e9e4; /* offwhite to match  hero the img  */
  border: 1px solid var(--text-base);
  transition: background-color 0.3s ease;
}
 .hero-cta:hover {
  background-color: #ddd5d0;
 }