/* Reseting default browser spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --color-muddy-rose: #ddbeaf; /* Muddy Rose */
  --color-tropical-fog: #cfceb8; /* Tropical Fog */
  --color-breezy: #c3dde5; /* Breezy */
  --color-cotton-field: #f3f0e9; /* Cotton Field */
  --color-plein-air: #b7c7d6; /* Plein Air */
  --color-link-hover: #77acde;

  --text-strong: #24313a;
  --text-base: #3d4b53;
  --text-soft: #66737b;
  --text-subtle: #7f8b91;
  --text-on-light: #1f2a30;
  --text-off-white: #faf9f6;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;
  --space-xxxl: 4rem;

  --radius-button: 25px;
  --border-strong: 2px solid var(--text-strong);
  --border-breezy: 2px solid var(--color-breezy);
  --border-plein-air: 2px solid var(--color-plein-air);
  --border-muddy-rose: 2px solid var(--color-muddy-rose);

  --font-size-banner-heading: 1.2rem;

  scroll-behavior: smooth;
}

body {
  background: var(--color-cotton-field);
  color: var(--text-on-light);
  font-family: Arial, Helvetica, sans-serif; /* this is a work in progress, need to pick an in theme font family */
}

/* Navbar styling */
.navbar {
  width: 100%;
  padding: var(--space-base) var(--space-xxl);

  display: flex;
  align-items: center;
  gap: var(--space-lg);
  position: relative;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}

.nav-links ul {
  display: flex;
  gap: var(--space-base);

  font-weight: 600;
  font-size: var(--space-base);
  list-style: none;
}

.navlink a {
  text-decoration: none;
  color: var(--text-on-light);
  transition: color 0.3s ease;
}

.navlink a:hover {
  color: var(--color-link-hover);
}

.nav-btns {
  margin-left: auto; /* to separate the buttons away from the page links */
  display: flex;
  gap: var(--space-base);
}

.btn {
  font-size: var(--space-base);
  padding: var(--space-xs) var(--space-base);
  border-radius: var(--radius-button);
  cursor: pointer;
  position: relative;
}

.sign-in {
  border: var(--border-strong);
  background-color: var(--color-cotton-field);
}

.join {
  border: var(--border-strong);
  background-color: var(--text-on-light);
  color: var(--color-cotton-field);
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease;
}

.join:hover {
  background-color: var(--color-plein-air);
  color: var(--text-on-light);
}

/* subtle line animation for hover on CTA buttons in hover */
.join::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: -0.75rem;
  width: 85%;
  height: 2px;
  background-color: var(--color-muddy-rose);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.join:hover:after {
  transform: scaleX(1);
}

.sign-in::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: -0.75rem;
  width: 85%;
  height: 2px;
  background-color: var(--color-plein-air);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.sign-in:hover:after {
  transform: scaleX(1);
}

/* section general styling */
section {
  margin: 0 7.5% 2rem 7.5%;
  border-radius: 15px; /* some soft rounded corners for a friendly and cozy feeling less coprorate */
  display: flex;
  align-items: stretch;
}

section:not(.banner) > * {
  flex: 1;
}

section:not(.banner):not(.hero-section) {
  height: 60vh;
}

/* banner */
.banner {
  background-color: var(--color-breezy);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-base);

  padding: var(--space-xl);
  border-radius: 0 0 15px 15px;
}

.banner h1 {
  font-size: var(--font-size-banner-heading);
  font-weight: 600;
}

.banner-btn {
  background-color: var(--color-breezy);
  font-weight: 600;
  border: 2.2px solid var(--text-on-light);
  transition: background-color 0.3s ease;
}

.banner-btn:hover {
  background-color: var(--color-plein-air);
}

.hero-section {
  height: 65vh;

  background-color: var(--color-breezy); /* offwhite to match  hero the img  */
}

img:not(.icon) {
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.sect-img1 {
  height: 100%;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  
}

.sect-img2 {
  height: 100%;
  overflow: hidden;
  transform: scaleX(-1);
  border-radius: 15px 0 0 15px;
  
}

.hero-img img {
  transition: transform 0.7s ease;
}

.hero-section:hover .hero-img img {
  transform: scale(1.05); /* subtle animation to make the page interactive */
}

.txt {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xl);
  text-align: center;
  

  /* padding-inline: var(--space-xl); */
}

.hero-p {
  padding-inline:  var(--space-xxl);
}

.hero-cta {
  background-color: var(--border-breezy); /* offwhite to match  hero the img  */
  border: 1px solid var(--text-base);
  transition: background-color 0.3s ease;
}

.cta-btn {
  width: fit-content;
  align-self: center;
}

 .hero-cta:hover {
  background-color: var(--color-link-hover);
 }

 /* specials sections */
 .specials-1 {
  background-color: var(--color-breezy);
  flex-direction: row-reverse;
 }
 


 /* testing for responsiveness, not final */
 @media (max-width: 1024px) {
  section {
    margin: 0 0 2rem 0;
    border-radius: 0;
  }

  .banner {
    border-radius: 0;
  }

  .sect-img1, .sect-img2 {
    border-radius: 0;
  }

  .hero-txt {
    padding-inline: 0;
  }

  .hero-p {
  padding: 0 ;
}
 }

 @media (max-width: 640px) {
  section, .specials-1 {
    margin: 0 0 2rem 0;
    border-radius: 0;
    flex-direction: column;
  }
 }
